<h1>Ma page de contact</h1>
<p>Ici vous pouvez nous contacter</p>

<form action="/" method="post">
 	<input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">
 	<p> Mets ton prénom, mon gros :</p>
 	<input type="text" name="first_name"><br>
 	<p> Mets ton nom, mon gros : </p>
 	<input type="text" name="last_name"><br> 
  <input type="submit" value="Submit" name="Envoyer">
</form> 
